@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --primary-color: #030d2e;
  --secondary-color: #0B666A;
  --third-color: #35A29F;
  --fourth-color: #97FEED;
} */

/* my colors */
/* :root{
  --primary-color: #000000;
  --third-color:  #52057B;
  --secondary-color: #892CDC;
  --fourth-color: #BC6FF1;
  --text-color:white;
} */
/* green color */
/* :root{
  --primary-color: #2B302B;
  --third-color:  #52057B;
  --secondary-color: #7CBB7D;
  --fourth-color: #BC6FF1;
  --text-color:black;
} */


:root{
  --primary-color: #19191D;
  --secondary-color: #00CD29;
  --third-color:  #3b48ff;

  --fourth-color: #de3bff;
  --text-color:#f7f6ff;
}
