@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --primary-color: #030d2e;
  --secondary-color: #0B666A;
  --third-color: #35A29F;
  --fourth-color: #97FEED;
} */

/* my colors */
/* :root{
  --primary-color: #000000;
  --third-color:  #52057B;
  --secondary-color: #892CDC;
  --fourth-color: #BC6FF1;
  --text-color:white;
} */
/* green color */
/* :root{
  --primary-color: #2B302B;
  --third-color:  #52057B;
  --secondary-color: #7CBB7D;
  --fourth-color: #BC6FF1;
  --text-color:black;
} */


:root{
  --primary-color: #19191D;
  --secondary-color: #00CD29;
  --third-color:  #3b48ff;

  --fourth-color: #de3bff;
  --text-color:#f7f6ff;
  --test-color:#6C8EFF
}
body {
  /* font-family: 'Ubuntu', sans-serif; */
  font-family: 'Outfit', sans-serif;
}
